<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome to new Facts</h2>
    <h3>Free your mind for new investiments</h3>

    <div>
        <p>???Whats you search???</p>
        <ul>
            <a href="#">Digital Operations</a>
            <a href="#">Forex</a>
            <a href="#">Crypto coins</a>
            <a href="#">Gold investiments</a>
            <a href="#">Oil investiments</a>
            <a href="#">newbie invester</a>
        </ul>
    </div>
</body>
</html>